In [59]:
import pandas as pd
import numpy as np
pecan_data = pd.read_csv('../../data/agricultural_yield_datasets/New_Mexico_Pecan_Yield.csv')
pecan_data.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2022,YEAR,NaN,COUNTY,NEW MEXICO,35,NaN,99,OTHER COUNTIES,...,NaN,NaN,0,NaN,PECANS,"PECANS, UTILIZED, IN SHELL - YIELD, MEASURED I...",TOTAL,NOT SPECIFIED,"1,530",NaN
1,SURVEY,2022,YEAR,NaN,COUNTY,NEW MEXICO,35,SOUTHEAST,90,CHAVES,...,NaN,NaN,0,NaN,PECANS,"PECANS, UTILIZED, IN SHELL - YIELD, MEASURED I...",TOTAL,NOT SPECIFIED,"1,500",NaN
2,SURVEY,2022,YEAR,NaN,COUNTY,NEW MEXICO,35,SOUTHEAST,90,DONA ANA,...,NaN,NaN,0,NaN,PECANS,"PECANS, UTILIZED, IN SHELL - YIELD, MEASURED I...",TOTAL,NOT SPECIFIED,"1,610",NaN
3,SURVEY,2022,YEAR,NaN,COUNTY,NEW MEXICO,35,SOUTHEAST,90,LEA,...,NaN,NaN,0,NaN,PECANS,"PECANS, UTILIZED, IN SHELL - YIELD, MEASURED I...",TOTAL,NOT SPECIFIED,"1,380",NaN
4,SURVEY,2022,YEAR,NaN,COUNTY,NEW MEXICO,35,SOUTHEAST,90,OTERO,...,NaN,NaN,0,NaN,PECANS,"PECANS, UTILIZED, IN SHELL - YIELD, MEASURED I...",TOTAL,NOT SPECIFIED,"1,560",NaN

In [23]:
pecan_data.drop_duplicates()
#no duplicates were found

#remove unnessacary collunms
pecan_data = pecan_data.drop(columns={'Week Ending', 'Zip Code', 'Region', 'watershed_code', 'Watershed', 'Data Item', 'Domain', 'Domain Category', 'CV (%)', 'State ANSI', 'Program', 'Period', 'Geo Level',})

In [27]:
top4_nm = pecan_data[pecan_data['County'].isin(['DONA ANA', 'CHAVES', 'SIERRA', 'OTERO'])]
top4_nm.head(36)

,Year,State,Ag District,Ag District Code,County,County ANSI,Commodity,Value
1,2022,NEW MEXICO,SOUTHEAST,90,CHAVES,5.0,PECANS,"1,500"
2,2022,NEW MEXICO,SOUTHEAST,90,DONA ANA,13.0,PECANS,"1,610"
4,2022,NEW MEXICO,SOUTHEAST,90,OTERO,35.0,PECANS,"1,560"
5,2022,NEW MEXICO,SOUTHWEST,70,SIERRA,51.0,PECANS,"2,360"
7,2021,NEW MEXICO,SOUTHEAST,90,DONA ANA,13.0,PECANS,"1,850"
9,2021,NEW MEXICO,SOUTHWEST,70,SIERRA,51.0,PECANS,"2,300"
11,2020,NEW MEXICO,SOUTHEAST,90,CHAVES,5.0,PECANS,"2,300"
12,2020,NEW MEXICO,SOUTHEAST,90,DONA ANA,13.0,PECANS,"1,780"
13,2020,NEW MEXICO,SOUTHEAST,90,OTERO,35.0,PECANS,"1,350"
16,2019,NEW MEXICO,SOUTHEAST,90,CHAVES,5.0,PECANS,"2,380"
17,2019,NEW MEXICO,SOUTHEAST,90,DONA ANA,13.0,PECANS,"2,010"
18,2019,NEW MEXICO,SOUTHEAST,90,OTERO,35.0,PECANS,"1,750"
19,2019,NEW MEXICO,SOUTHWEST,70,SIERRA,51.0,PECANS,"1,220"
21,2018,NEW MEXICO,SOUTHEAST,90,CHAVES,5.0,PECANS,"2,510"
22,2018,NEW MEXICO,SOUTHEAST,90,DONA ANA,13.0,PECANS,"1,870"
24,2018,NEW MEXICO,SOUTHEAST,90,OTERO,35.0,PECANS,"1,760"
25,2018,NEW MEXICO,SOUTHWEST,70,SIERRA,51.0,PECANS,"1,880"
27,2017,NEW MEXICO,SOUTHEAST,90,CHAVES,5.0,PECANS,"2,917"
28,2017,NEW MEXICO,SOUTHEAST,90,DONA ANA,13.0,PECANS,"2,146"
31,2017,NEW MEXICO,SOUTHWEST,70,SIERRA,51.0,PECANS,"1,340"
32,2016,NEW MEXICO,SOUTHEAST,90,CHAVES,5.0,PECANS,"1,724"
33,2016,NEW MEXICO,SOUTHEAST,90,DONA ANA,13.0,PECANS,"1,837"

In [28]:
top4_nm.to_csv('../../data/agricultural_yield_datasets/top4_cleaned_New_Mexico_Pecan_Yield.csv', index=False)

In [19]:
pecan_data.to_csv('../../data/agricultural_yield_datasets/cleaned_New_Mexico_Pecan_Yield.csv', index=False)

In [115]:

malaria_data = pd.read_csv('../../data/malaria_data/worldwide_malaria_outbreak_dataset.csv')
#pd.set_option("display.max_rows", len(malaria_data))
malaria_data.head()

,ID,COUNTRY_NAME,SITE_NAME,UNIVERSITY,LATITUDE,LONGITUDE,VECTOR_SPECIES_COMPLEX,VECTOR_SPECIES,STAGE,YEAR_START,...,MONTH_END,SAMPLING_METHOD,MOSQUITO_NUMBER,BREEDING_HABITAT,ID_METHOD,DATA_SOURCE,CITATION,CITATION_URL,INVASIVE_STATUS,Unnamed: 21
0,undefined,India,IN,Melvisharam,12.9396,79.2397,An. stephensi,Not available,NR,NaN,...,NaN,Not available,Not available,Not available,Morphology,"Bharathi, A, Roopan, SM, Rahuman, AA and Rajak...",https://www.semanticscholar.org/paper/(E)-2-Be...,Sinka et al. (2020) A new malaria vector in Af...,Native,NaN
1,undefined,India,IN,Bharathidasan University,10.6760,78.7430,An. stephensi,Not available,NR,2007.0,...,NaN,Not available,Not available,Not available,Morphology,"Chitra, S, Ravindran, K, Rajkuberan, C, Janaga...",https://www.idosi.org/aje/7(2)14/3.pdf,Sinka et al. (2020) A new malaria vector in Af...,Native,NaN
2,undefined,India,IN,National Institute of Communicable Disease Centre,11.2962,76.9414,An. stephensi,Not available,NR,NaN,...,NaN,Not available,Not available,Not available,Not available,"Dinesh, D, Murugan, K, Madhiyazhagan, P, Panne...",https://www.ncbi.nlm.nih.gov/pubmed/25653031,Sinka et al. (2020) A new malaria vector in Af...,Native,NaN
3,undefined,India,IN,Hardwar,29.9600,78.1600,An. stephensi,Not available,NR,NaN,...,NaN,Not available,Not available,Not available,Morphology,"Dixit, J, Srivastava, H, Sharma, M, Das, MK, S...",https://www.ncbi.nlm.nih.gov/pubmed/20435167,Sinka et al. (2020) A new malaria vector in Af...,Native,NaN
4,undefined,India,IN,Natural oviposition sites,27.1666,78.0833,An. stephensi,Not available,NR,NaN,...,NaN,Not available,Not available,Not available,DNA sequencing,"Gupta, S and Preet, S. (2012). Protocol optim...",https://pdfs.semanticscholar.org/602a/87cf12fc...,Sinka et al. (2020) A new malaria vector in Af...,Native,NaN

In [116]:
malaria_data.columns.values.tolist()

['ID',
 'COUNTRY_NAME',
 'SITE_NAME',
 'UNIVERSITY',
 'LATITUDE',
 'LONGITUDE',
 'VECTOR_SPECIES_COMPLEX',
 'VECTOR_SPECIES',
 'STAGE',
 'YEAR_START',
 'MONTH_START',
 'YEAR_END',
 'MONTH_END',
 'SAMPLING_METHOD',
 'MOSQUITO_NUMBER',
 'BREEDING_HABITAT',
 'ID_METHOD',
 'DATA_SOURCE',
 'CITATION',
 'CITATION_URL',
 'INVASIVE_STATUS',
 'Unnamed: 21']

In [117]:
malaria_data = malaria_data.drop(columns={'ID','SITE_NAME','UNIVERSITY','MONTH_START', 'MONTH_END','DATA_SOURCE', 'CITATION', 'CITATION_URL', 'Unnamed: 21', 'VECTOR_SPECIES', 'COUNTRY_NAME', 'YEAR_END', 'MOSQUITO_NUMBER', 'BREEDING_HABITAT', 'ID_METHOD'})

#  'ID','SITE_NAME','UNIVERSITY','MONTH_START', 'MONTH_END','DATA_SOURCE', 'CITATION', 'CITATION_URL', 'Unnamed: 21'

In [118]:
malaria_data.to_csv('../../data/cleaned_malaria_data.csv', index=False)

In [119]:
top_4_locations = malaria_data[malaria_data["LATITUDE"].isin([28.5810,22.6900,11.2962,28.5615])]
top_4_locations.head(20)

,LATITUDE,LONGITUDE,VECTOR_SPECIES_COMPLEX,STAGE,YEAR_START,SAMPLING_METHOD,INVASIVE_STATUS
2,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
18,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
23,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
24,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
25,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
26,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
27,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
28,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
30,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
39,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
40,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
41,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
43,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
44,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
45,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
46,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
187,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
205,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
213,28.5810,77.1730,An. stephensi,ADULTS,1994.0,House resting inside,Native
214,28.5810,77.1730,An. stephensi,ADULTS,1994.0,House resting inside,Native

In [120]:
malaria_data = top_4_locations
malaria_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 106 entries, 2 to 1115
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   LATITUDE                106 non-null    float64
 1   LONGITUDE               106 non-null    float64
 2   VECTOR_SPECIES_COMPLEX  106 non-null    object
 3   STAGE                   106 non-null    object
 4   YEAR_START              87 non-null     float64
 5   SAMPLING_METHOD         106 non-null    object
 6   INVASIVE_STATUS         106 non-null    object
dtypes: float64(3), object(4)
memory usage: 6.6+ KB

In [121]:
malaria_data.describe()

         LATITUDE   LONGITUDE   YEAR_START
count  106.000000  106.000000    87.000000
mean    24.145658   76.157968  1990.057471
std      6.491139    1.797071     4.890323
min     11.296200   72.856000  1984.000000
25%     22.690000   76.941400  1985.000000
50%     28.561500   77.173000  1994.000000
75%     28.581000   77.173000  1995.000000
max     28.581000   77.219000  1996.000000

In [122]:
malaria_data.head(10)

,LATITUDE,LONGITUDE,VECTOR_SPECIES_COMPLEX,STAGE,YEAR_START,SAMPLING_METHOD,INVASIVE_STATUS
2,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
18,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
23,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
24,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
25,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
26,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
27,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
28,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
30,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native
39,11.2962,76.9414,An. stephensi,NR,NaN,Not available,Native

In [123]:
malaria_data['YEAR_START'].fillna(malaria_data['YEAR_START'].mean(), inplace=True)
malaria_data['YEAR_START'] = malaria_data['YEAR_START'].astype(int)

print(malaria_data['SAMPLING_METHOD'].value_counts())
malaria_data.head(20)

SAMPLING_METHOD
House resting inside                                            44
Not available                                                   43
Animal shed resting, house resting inside                       17
House resting inside, animal shed resting, larval collection     1
Larval collection                                                1
Name: count, dtype: int64

,LATITUDE,LONGITUDE,VECTOR_SPECIES_COMPLEX,STAGE,YEAR_START,SAMPLING_METHOD,INVASIVE_STATUS
2,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
18,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
23,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
24,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
25,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
26,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
27,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
28,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
30,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
39,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
40,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
41,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
43,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
44,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
45,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
46,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
187,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
205,11.2962,76.9414,An. stephensi,NR,1990,Not available,Native
213,28.5810,77.1730,An. stephensi,ADULTS,1994,House resting inside,Native
214,28.5810,77.1730,An. stephensi,ADULTS,1994,House resting inside,Native

In [124]:
malaria_data.to_csv('../../data/top_4_cleaned_malaria_data.csv', index=False)